.DS_Store
ehthumbs.db
Icon?
Thumbs.db
.idea
.vscode

# Node Files #
/node_modules
/bower_components
npm-debug.log

# Typing #
/src/typings/tsd/
/typings/
/tsd_typings/

# Dist #
/dist/
/__build__/**
.webpack.json
/src/assets/bower_components/

# Coverage #
/coverage/

/output/
/compiled/
.awcache/
/src/app/styles.css
ts-node
/**/*.ngfactory.ts
/**/*.css.ts
/**/*.css.shim.ts
dll/
