<header>
  <h3> Welcome to the Dashboard {{user.name}}!</h3>
</header>
<section>
  <ng-container *ngIf="testSub$ | async">Api test sub: {{ testSub$ | async }}</ng-container>
  <form [formGroup]="form" (ngSubmit)="submitState()" autocomplete="off">
    <mat-form-field> 
      <input matInput formControlName="name" [placeholder]="nameLabel">
    </mat-form-field>   
    <br>
    <button mat-raised-button color="primary">Update store</button>
    <button mat-raised-button color="accent" type="button" (click)="clearName()">Clear name</button>
  </form>
  <br><br>
    <button id="my-logout-button" mat-raised-button color="accent" (click)="logout()">Logout</button>
</section>