<header>
  <h3> Welcome to the Dashboard {{user.name}}!</h3>
</header>
<section>
  <form [formGroup]="form" (ngSubmit)="submitState()" autocomplete="off">
    <md-input-container> 
      <input mdInput formControlName="name" [placeholder]="nameLabel">
    </md-input-container>    
    <br>
    <button md-raised-button color="primary">Update store</button>
    <button md-raised-button color="accent" type="button" (click)="clearName()">Clear name</button>
  </form>
  <br><br>
    <button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>
</section>